<div class="section">
    <!-- container -->
    <div class="container">
        <!-- row -->
        <div id="hot-post" class="row hot-post">
            {% for post in posts %}
            <div class="col-md-4 ">
                <!-- post -->
                <div class="post post-thumb">
                   <a class="post-img" href="{{post.get_absolute_url}}"><img src="{{ post.image.url }}" alt="{{ post.title }}"></a>
                    <div class="post-body">
                        <div class="post-category">
                            {% for category in post.category.all %}
											<a href="{{category.get_absolute_url}}">{{category.title}}</a>
										{% endfor %}
                        </div>
                        <h3 class="post-title title-lg"><a href="{{post.get_absolute_url}}">{{post.title}}</a></h3>
                        <ul class="post-meta">
                            <li><a href="{% url 'user-posts' post.author.username %}">{{post.author}}</a></li>
										<li>{{post.created_at|date}}</li>
                        </ul>
                    </div>
                </div>


                <!-- /post -->
            </div>

            {% endfor %}
        </div>
        <!-- /row -->
    </div>
    <!-- /container -->
</div>