{% extends 'base.html' %}
{% load static %}
{% load hot_posts %}
{% load category %}
{% load aside %}
{% block title %} {{title}} {%endblock%}

{% block content %}

<!-- SECTION HOT -->
	{% get_hot_posts 3 %}
	<!-- /SECTION -->

	<!-- SECTION rESENTpOST AND SIDEBAR-->
	<div class="section">
		<!-- container -->
		<div class="container">
			<!-- row -->
			<div class="row">
				<div class="col-md-8">
					<!-- row -->
					<div class="row">
						<div class="col-md-12">
							<div class="section-title">
								<h2 class="title">Последние публикации</h2>
							</div>
						</div>
						<!-- post -->
						{% for post in posts %}
						<div class="col-md-6">
							<div class="post">
								<a class="post-img" href="{{post.get_absolute_url}}"><img src="{{ post.image.url }}" alt="{{ post.title }}"></a>
								<div class="post-body">
									<div class="post-category">
										{% for category in post.category.all %}
											<a href="{{category.get_absolute_url}}">{{category.title}}</a>
										{% endfor %}
									</div>
									<h3 class="post-title"><a href="{{post.get_absolute_url}}">{{post.title}}</a></h3>
									<ul class="post-meta">
										<li><a href="{% url 'user-posts' post.author.username %}">{{post.author}}</a></li>
										<li>{{post.created_at|date}}</li>
									</ul>
								</div>
							</div>
						</div>
							{% if forloop.counter == 2 %}
								<div class="clearfix visible-md visible-lg"></div>
							{% endif %}
						{% endfor %}
						<!-- /post -->

					</div>
					<!-- /row -->



					<!-- row -->


						{% get_category_post %}


					<!-- /row -->






				</div>
<!--		aside 	-->
				{% get_aside %}

			</div>
			<!-- /row -->
		</div>
		<!-- /container -->
	</div>
	<!-- /SECTION -->

	<!-- SECTION AD-->
	<div class="section">
		<!-- container -->
		<div class="container">
			<!-- row -->
			<div class="row">
				<!-- ad -->
				<div class="col-md-12 section-row text-center">
					<a href="#" style="display: inline-block;margin: auto;">
						<img class="img-responsive" src="{% static 'img/ad-2.jpg' %}" alt="">
					</a>
				</div>
				<!-- /ad -->
			</div>
			<!-- /row -->
		</div>
		<!-- /container -->
	</div>
	<!-- /SECTION -->

	<!-- SECTION -->
	<div class="section">
		<!-- container -->
		<div class="container">
			<!-- row -->
			<div class="row">
				{% get_category_post_one %}
			</div>
			<!-- /row -->

			<!-- row -->
			<div class="row">
				{% widget_post %}
			</div>
			<!-- /row -->
		</div>
		<!-- /container -->
	</div>
	<!-- /SECTION -->

	<!-- SECTION -->
	<div class="section">
		<!-- container -->
		<div class="container">
			<!-- row -->
			<div class="row">

				<div class="col-md-8">
					<!-- post -->
					{% for post in posts %}
					<div class="post post-row">
						<a class="post-img" href="{{post.get_absolute_url}}"><img src="{{ post.image.url }}" alt="{{ post.title }}"></a>
						<div class="post-body">
							<div class="post-category">
								{% for category in post.category.all %}
											<a href="{{category.get_absolute_url}}">{{category.title}}</a>
										{% endfor %}

							</div>
							<h3 class="post-title"><a href="{{post.get_absolute_url}}">{{post.title}}</a></h3>
							<ul class="post-meta">
								<li><a href="{% url 'user-posts' post.author.username %}">{{post.author}}</a></li>
								<li>{{post.created_at|date}}</li>
							</ul>
							<p>{{post.content|truncatechars_html:145|safe}}</p>
						</div>

					</div>
					{% endfor %}
					<!-- /post -->



					<div class="section-row loadmore text-center">
						<a href="#" class="primary-button">Load More</a>
					</div>
				</div>
				<div class="col-md-4">
					<!-- galery widget -->
					<div class="aside-widget">
						<div class="section-title">
							<h2 class="title">Instagram</h2>
						</div>
						<div class="galery-widget">
							<ul>
								<li><a href="#"><img src="{% static 'img/galery-1.jpg' %}" alt=""></a></li>
								<li><a href="#"><img src="{% static './img/galery-2.jpg' %}" alt=""></a></li>
								<li><a href="#"><img src="{% static './img/galery-3.jpg' %}" alt=""></a></li>
								<li><a href="#"><img src="{% static './img/galery-4.jpg' %}" alt=""></a></li>
								<li><a href="#"><img src="{% static './img/galery-5.jpg' %}" alt=""></a></li>
								<li><a href="#"><img src="{% static './img/galery-6.jpg' %}" alt=""></a></li>
							</ul>
						</div>
					</div>
					<!-- /galery widget -->

					<!-- Ad widget -->
					<div class="aside-widget text-center">
						<a href="#" style="display: inline-block;margin: auto;">
							<img class="img-responsive" src="{% static './img/ad-1.jpg' %}" alt="">
						</a>
					</div>
					<!-- /Ad widget -->
				</div>
			</div>
			<!-- /row -->
		</div>
		<!-- /container -->
	</div>
	<!-- /SECTION -->

{% endblock %}